{% extends "layout.html" %}
{% load static %}

{% include "includes/header_n.html" %}
{% block content %}
{% include "includes/header_n.html" %}

     <!-- NEWS DETAIL -->
     <section id="news-detail" data-stellar-background-ratio="0.5">
        <div class="container">
            <h1 class="level-1 rectangle shadow">BMS Angostura del Orinoco</h1>
            <ol class="level-1-wrapper">
              <li>
                <h2 class="level-2 rectangle"> Responsable Político <br> Joslay Velásquez</h2>
                <ol class="level-1-wrapper">
                  <li>
                    <h3 class="level-2 rectangle">Direcciones Colectivas</h3>
                    <ol class="level-1-wrapper">
                      <li>
                        <h4 class="level-3 rectangle">Salud: Magdalena Garcia</h4>
                      </li>
                      <li>
                        <h4 class="level-3 rectangle">Escolarización: Lesbia Gómez</h4>
                      </li>
                      <li>
                        <h4 class="level-3 rectangle">Nutrición: Edwin Orta</h4>
                      </li>
                      <li>
                        <h4 class="level-3 rectangle">Convivencia Familiar: Angie Torres</h4>
                      </li>
                      <li>
                        <h4 class="level-3 rectangle">Promoción de Actividades y Emprendimientos Productivos: Yesenia Jiménez</h4>
                      </li>
                      <li>
                        <h4 class="level-3 rectangle">Desarrollo de Programación Cultural, Deportiva y Recreativa: Marvis González</h4>
                      </li>
                      <li>
                        <h4 class="level-3 rectangle">Servicios Públicos: Mirtha Rivero</h4>
                      </li>
                      <li>
                        <h4 class="level-3 rectangle">Seguridad: Anyerson Moreno</h4>
                      </li>
                      <li>
                        <h4 class="level-3 rectangle">Vivienda: Carlos Contreras</h4>
                      </li>
                      <li>
                        <h4 class="level-3 rectangle"> Vocero Comunicador: Maryorieth Gómez</h4>
                      </li>
                    </ol>
                  </li>
                </ol>
              </li>
            </ol>
          </div>
     </section>
         

{% endblock content %}