{% load static %}

<!-- PRE LOADER -->

<section class="preloader">
    <div class="spinner">

         <span class="spinner-rotate"></span>
         
    </div>
</section>

<!-- HEADER -->
<header>
    <div class="container">
         <div class="row">

              <div class="col-md-4 col-sm-5">
                   <p>Bienvenidos al portal de La Base Apacuana</p>
              </div>
                   
              <div class="col-md-8 col-sm-7 text-align-right">
                   <span class="date-icon"><i class="fa fa-calendar-plus-o"></i> 9:00 AM - 05:00 PM (Lun-Vie)</span>
                   <span class="email-icon"><i class="fa fa-envelope-o"></i> <a href="mailto:apacuanacampina@gmail.com">Apacuanacampina@gmail.com</a></span>
                   <span class="email-icon"><i class="fa fa-facebook"></i> <a href="https://www.facebook.com/profile.php?id=61558793380654" target="_blank">Apacuana</a></span>
              </div>

         </div>
    </div>
</header>


<!-- MENU -->

 