{% load static %}

<!-- MENU -->
<section class="navbar navbar-default navbar-static-top shadow" role="navigation">
    <div class="container ">

         <div class="navbar-header">
              <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
                   <span class="icon icon-bar"></span>
              </button>

              <!-- lOGO TEXT HERE -->
              <a href="{%url 'home:home'%}" class="navbar-brand" ><i class="fa fa-2x" aria-hidden="true">Apacuana</i></a>
         </div>

         <!-- MENU LINKS -->
         <div class="collapse navbar-collapse">
              <ul class="nav navbar-nav navbar-right" >
                   <li><a href="{%url 'home:home'%}" class="smoothScroll" >Portada</a></li>
                   <li><a href="{%url 'home:attachments'%}" class="smoothScroll" >proximas Jonadas</a></li>
                   <li><a href="{%url 'home:home'%}" class="smoothScroll" >Sobre Nosotros</a></li>
                   <li><a href="{%url 'home:home'%}" class="smoothScroll" >Lideres de calle</a></li>
                   <li><a href="{%url 'home:home'%}" class="smoothScroll" >Noticias</a></li>
                   <li><a href="{%url 'home:home'%}" class="smoothScroll" >Contactos</a></li>
                   <li class="appointment-btn"><a href="{%url 'home:home'%}">Contacta con Nosotros</a></li>
              </ul>
         </div>

    </div>
</section>